<!DOCTYPE html>
<html>
  <%-include("./partials/head.ejs")%>
  </head>
  <body>
    <nav>
      <h1><%= title %></h1>
      <a href = "/new">
        New Message
      </a>
    </nav>
    <div id = "messages">
      <ul>
        <% messages.forEach(message=> { %>
              <li>
                <h3><%=message.username%></h3>
                <p><%=message.message%></p>
                <span><%=message.date_formatted%></span>
              </li>
          <%})%>
      </ul>
    </div>
  </body>
</html>
